:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;

  background: #ffe3f1;
  background: radial-gradient(circle, rgba(255, 227, 241, 1) 0%, rgba(186, 217, 255, 1) 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2;
  width: 100%;
  display: block;
  white-space: normal;         
  overflow-wrap: break-word;   
  word-wrap: break-word;       
  word-break: break-word;      
  box-sizing: border-box;
  margin: 0 auto;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

table {
  flex-direction: column;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  background-color: #213547;
  color: #f8f5f5;
}

tr {
  background-color: #f8fffe;
  color: #000000;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;  
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.6em; 
  }
}